*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #816797;
}
#buttonProductView {
  position: relative;
}

#quantityInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carou1 {
  width: 100%;
  height: 20rem;
}

.cardImg {
  height: 30rem;
}

#navLogo {
  margin-left: 3rem;
  margin-right: 2rem;
  color: #D6D5A8;
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
}

#navbarMain {
  background-color: #1B2430;
  margin-bottom: 2rem;
}

#router{
 background-color: #FFDFD3; 
}

#signedName{
  margin-right: 2rem;
  color: #D6D5A8;
}
#text-new {
  font-family: 'Quicksand', sans-serif;
  color: #D6D5A8;
}
.text-new {
  font-family: 'Quicksand', sans-serif;
  color: #D6D5A8;
}
#cardBg{
  padding: 0.3rem;
  margin-bottom: 0.8rem;
  background-color: #1B2430;
}

.textHome {
  font-family: 'Kanit', sans-serif;
  font-size: 4rem;
}

#buttonProductView{
  background-color: #816797;
  border-color: #1B2430;
  color: #D6D5A8;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}
#checkoutImg{
  max-height: 50vh;

}
.cardBg{
  padding: 0.3rem;
  margin-bottom: 0.8rem;
  background-color: #1B2430;
}

#submitBtn {
  background-color: #51557E;
  border-color: #51557E;
  color: #D6D5A8;
}